:root {
  --background-color: #373f51;
  --secondary-color: #e1e5ee;
  --primary-color: #788475;
}

* {
  background-color: var(--background-color);
}

a {
  text-decoration:none;
  color:var(--secondary-color)
}

.header {
  background-color: var(--primary-color)
}

.App {
  color: var(--secondary-color);
}

.title-link {
  text-decoration: none;
  color: var(--secondary-color);
  background-color:var(--primary-color) ;
}

.category-list {
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  flex-direction: row;
background-color: var(--primary-color);
}
